Source: ros-indigo-maxbotix
Section: misc
Priority: extra
Maintainer: End Point Corp LG R&D <lg-rad@endpoint.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-sensor-msgs
Homepage: http://liquid-galaxy.endpoint.com
Standards-Version: 3.9.2

Package: ros-indigo-maxbotix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-sensor-msgs, python-serial
Description: ROS interface to the maxbotix sensor.
Replaces: __REPLACES__
Conflicts: __REPLACES__
