build/doctrees
build/latex/Makefile
*.sty
*.aux
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.tex
build/latex/python.ist
build/latex/sphinx.sty
build/latex/sphinxhowto.cls
build/latex/sphinxmanual.cls
build/latex/tabular.sty
build/singlehtml/.buildinfo
build/singlehtml/objects.inv


