/* Styles for ACME Kiosk. */

/*
 * Disable all links on the page and change them to be the
 * color of the page incase we forget to hide them.
 */
a, a:link, a:visited, a:active {
  pointer-events: none;
  color: #666;
}
/*
 * Reenable the expand results link.
 */
a.gsst_a {
  pointer-events: all;
}

/*
 * Debug text area.
 */
.acme-slinky-debug {
  position: 'fixed';
  bottom: '0px';
  left: '0px';
  height: '10%';
  width: '100%';
  z-index: '99999';
  background-color: 'rgba(242, 242, 242, 1.0)';
}

/*
 * Add a zoom out to earth button.
 */
.acme-zoom-out-earth {
  border: 1px red solid;
  height: 100px;
  width: 100px;
  left: 3px;
  top: 16px;
  position: relative;
  cursor: pointer;
}

.acme-famous-places {
  opacity: 1;
  top: 0px;
  z-index: 6;
  height: 100px;
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-transition-property: opacity,left;
  transition-property: opacity,left;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  display: inline-block !important;
  width: 100%;
}

.acme-famous-places-button {
  height: 50px;
  width: 150px;
  bottom: 35px;
  position: relative;
  background-color: gray;
  color: lightgray;
  border-top-right-radius: 10px;
  left: -8px;
  z-index: -1;
  cursor: pointer;
}

.acme-poi-button {
  height: 50px;
  width: 150px;
  bottom: 35px;
  position: relative;
  background-color: gray;
  color: whitesmoke;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.acme-button-selected {
  background-color: black;
}

/*
 * Clean up css on the kiosk.
 */
#butterbar,
#fineprint,
#gear,
#hovercard,
#minimap,
#mylocation,
#vasquette,
.cards-card[role="navigation"],
.cards-entity-right,
.widget-compass-tooltip,
.widget-minimap-shim,
.widget-minimap-shim-button,
.widget-runway-expand-pegman,
.widget-runway-expand-pegman-container,
.widget-runway-expand-pegman.runway-pegman-hidden,
.widget-tilt-tooltip,
.widget-titlecard-spotlightcontainer,
.widget-titlecard-spotlight-divider,
.widget-zoom-tooltip,
button.widget-play-button.widget-play-left,
button.widget-play-button.widget-play-right,
/* Hide the button divider if it is the 2nd or greater. */
.widget-play-button-divider ~ .widget-play-button-divider {
  display: none !important;
}

#searchbox,
#titlecard,
.app-vertical-widget-holder { zoom: 200%; }
.widget-play-widget { bottom: 10px; zoom: 200%; }

.widget-runway-wide-primary-card.widget-runway-satellite-card-enabled.widget-runway-tray-wrapper,
.widget-runway-tray-wrapper {
  left: 106px !important;
}
.cards-entity-background { width: 100% }
.app-vertical-widget-holder { bottom: 21px; }
.widget-runway-thumbstrip-background { top: -13px; }
.omnibox-cards-context-mode #omnibox { padding-bottom: 0px; }
