Source: ros-indigo-portal-nav
Section: misc
Priority: extra
Maintainer: End Point Corp LG R&D <lg-rad@endpoint.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-std-msgs, ros-indigo-message-generation
Homepage: http://liquid-galaxy.endpoint.com
Standards-Version: 3.9.2

Package: ros-indigo-portal-nav
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-geometry-msgs, ros-indigo-roscpp, ros-indigo-std-msgs, ros-indigo-rospy
Description: ROS interface to the Pose data.
Replaces: __REPLACES__
Conflicts: __REPLACES__
