Source: ros-indigo-appctl
Section: misc
Priority: extra
Maintainer: End Point Corp LG R&D <lg-rad@endpoint.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-std-msgs, ros-indigo-roscpp, ros-indigo-rospy
Homepage: http://liquid-galaxy.endpoint.com
Standards-Version: 3.9.2

Package: ros-indigo-appctl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-std-msgs, ros-indigo-roscpp, ros-indigo-rospy
Description: ROS node used for switching between application modes
