
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(//ssl.gstatic.com/fonts/roboto/v12/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

#morefun {
  font-family: 'Roboto-Light';
  display: table;
  position:absolute;
  z-index: 1234;
  right: 10px;
  top:  20px;
  color: rgb(207, 205, 205);
  font-size: 30pt;
}

#morefun_items {
  position: absolute;
  font-size: 20pt;
  top: 100px;
  right: 20px;
  height: 150px;
  width: 300px;
  z-index: 1234;
  background: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* TODO: place the items next to each other, with descriptions below */
#morefun span {
  display: table-cell;
  vertical-align:middle;
}

#morefun img {
  display: table-cell;
  vertical-align:middle;
  width: 90px;
}

#morefun_items ul {
  margin: 0 auto;
}

#morefun_items li {
  width: 50px;
  float: left;
  margin-left:  40px;
  margin-right: 40px;
}

#morefun_items span {
  width: 100%;
}

#morefun_items img {
  width: 64px;
  height: 64px;
}



