@import url(http://fonts.googleapis.com/css?family=Roboto);

#morefun {
  font-family: 'Roboto', sans-serif;
  position:absolute;
  z-index: 1234;
  right: 10px;
	top: 50px;
	color: rgb(207, 205, 205);
	font-size: 200%;
}
